<section class="content">
    <div class="box box-info">
        <div class="box-body">
            <div class="row form-group text-red text-right score">
                <div class="col-md-12">
                    ERREUR : {{$Contentctrl.score.error}} / {{$Contentctrl.score.total}}
                </div>
            </div>
            <div class="row form-group result">
                <div class="col-md-12">
                    {{$Contentctrl.result}}
                </div>
            </div>
            <div class="row form-group text-center" ng-show="$Contentctrl.game.finish">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a ng-click="$Contentctrl.init()" class="btn btn-block btn-success replay">REJOUR</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="clavier">
    <div class="box box-info">
        <div class="box-body">
                <div class="row form-group">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-1" ng-repeat="item in $Contentctrl.Clavier" ng-show="$index<10">
                        <a href="javascript:void(0)" class="btn btn-primary btn-block" ng-disabled="item.tested" ng-click="$Contentctrl.verif($index)">
                                {{item.letter}}
                        </a>
                    </div>                    
                    <div class="col-md-1">&nbsp;</div>      
                </div>
                <div class="row form-group">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-1" ng-repeat="item in $Contentctrl.Clavier" ng-show="$index>=10 && $index<20">
                        <a href="javascript:void(0)" class="btn btn-primary btn-block" ng-disabled="item.tested" ng-click="$Contentctrl.verif($index)">
                                {{item.letter}}
                        </a>
                    </div>                    
                    <div class="col-md-1">&nbsp;</div>      
                </div>
                <div class="row form-group">
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-1" ng-repeat="item in $Contentctrl.Clavier" ng-show="$index>=20">
                        <a href="javascript:void(0)" class="btn btn-primary btn-block" ng-disabled="item.tested" ng-click="$Contentctrl.verif($index)">
                                {{item.letter}}
                        </a>
                    </div>                    
                    <div class="col-md-3">&nbsp;</div>      
                </div>
        </div>
    </div>
</section>