<a href="accueil" class="logo">
    JEU PENDU
</a>
<nav class="navbar navbar-static-top">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-user"></i>
                            <span class="hidden-xs" ng-bind="::$ctrl.user | uppercase"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>